@import "tailwindcss";

@theme {
    --color-divBg: #1E1E1E;
    --color-bg: #121313;
    --color-primaryBlue: #64ACFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #121313 inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
